.user-auth {
  width: 33%;
  min-width: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.user-auth .action-row {
  position: relative;
}

.user-auth .action-row a {
  position: absolute;
  bottom: 0;
  right: 0;
}
