.signOut {
  color: gray;
}

.signOut:hover {
  color: #515151;
}

div[role='button'] {
  cursor: pointer;
}

div[role='button']:not(:focus-visible) {
  outline: none;
}

.switch {
  transform: scale(0.75);
}
