.app-card.is-new {
  opacity: 70%;
  font-size: 1.2em;
}

.app-card .card-header .card-header-icon {
  padding: 0.75rem 0.35rem;
}

.create-server .input,
.create-organization .input {
  width: 50%;
  min-width: 270px;
}
